body {
    background-color:lightblue;
    color:purple;
    margin:0;
    font-family:sans-serif;
}

p {
    margin-right:60%;
}

h1 {
    background:white;
    margin-right:60%;
}

details {
    background:white;
    margin:10px;
    padding:10px;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    width:25%;
    position:fixed;
    height:100%;
    overflow:auto;
    background-color:purple;
}

ul li a {
    display:block;
    color:white;
    text-decoration:none;
    padding:8px 16px;
}

ul li a.active {
    background-color:gray;
    color:white;
}

img {
    width:100%;
}

details img {
    width:50%;
}

ul li a:hover:not(.active) {
    background-color:brown;
    color:white;
}

footer {
    text-align:center;
}

/* Desktop */
@media only screen and (min-width:999px) {
    main {
        margin-left:25%;
        padding:1px 16px;
        height:1000px;
    }
}

/* Tablet */
@media only screen and (max-width:998px) {
    ul {
        width:100%;
        height:auto;
        position:relative;
    }

    ul li a {
        float:left;
        padding:15px;
    }

    h1 {
        margin-left:1%;
    }

    p {
        margin-right:10%;
        margin-left:10%;
    }

    img {
        width:100%;
    }

    details img {
        width:60%;
    }
}

/* Phone */
@media only screen and (max-width:400px) {
    ul li a {
        text-align: center;
        float: none;
    }
    main {
        margin-left:0;
        padding:1px 16px;
        height:1000px;
    }

    h1 {
        margin:0;
    }

    details img {
        width:100%;
    }
}
